# Ignore temporary build and compiled binaries
/build/
/build_stub/
/tmp/

# Ignore downloaded dependency source trees 
/CLBlast/
/opencl_headers/CL/

# Ignore the compiled OpenCL stub library
/opencl_headers/lib/libOpenCL.so